[Desktop Entry]
Name=GUI-Scale Applet
Type=Application
Exec=gui-scale-applet
Terminal=false
Categories=COSMIC;Utility;System;TrayIcon;
Keywords=COSMIC;Iced;
Icon=tailscale-icon
StartupNotify=true
DBusActivatable=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Start
x-OverflowPriority=10
X-Flatpak-RenamedFrom=com.github.bhh32.GuiScaleApplet.desktop
