[Desktop Entry]
Name=GUI-Scale Applet
Type=Application
Exec=gui-scale-applet
Terminal=false
Categories=COSMIC;Network;Utility
Keywords=Tailscale;VPN;Network;COSMIC;Iced;
Icon=com.bhh32.gui-scale-applet
StartupNotify=true
NotShowIn=COSMIC;
X-CosmicApplet=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
