[Desktop Entry]
Name=GUI Scale Applet
Type=Application
Exec=/app/bin/gui-scale-applet
Terminal=false
Categories=TrayIcon
Keywords=COSMIC;Iced;VPN
Icon=com.bhh32.GuiScaleApplet
StartupNotify=true
DBusActivatable=true
NoDisplay=true
OnlyShowIn=GNOME;KDE;Pantheon;Cinnamon;XFCE;
X-CosmicApplet=true
X-CosmicHoverPopup=Start
X-OverflowPriority=normal
X-Flatpak-RenamedFrom=com.bhh32.GuiScaleApplet.desktop
