[Desktop Entry]
Name=GUI-Scale Applet
Type=Application
Exec=/app/bin/gui-scale-applet
Terminal=false
Categories=Network;Utility
Keywords=Tailscale;VPN;Network;COSMIC;Iced;
Icon=com.bhh32.gui-scale-applet
StartupNotify=true
NoDisplay=true
X-CosmicApplet=true
X-CosmicHoverPopup=Start
X-OverflowPriority=10
