---
---

@import "minima";

:root {
  --ctp-rosewater: #f5e0dc;
  --ctp-flamingo: #f2cdcd;
  --ctp-pink: #f5c2e7;
  --ctp-mauve: #cba6f7;
  --ctp-red: #f38ba8;
  --ctp-maroon: #eba0ac;
  --ctp-peach: #fab387;
  --ctp-yellow: #f9e2af;
  --ctp-green: #a6e3a1;
  --ctp-teal: #94e2d5;
  --ctp-sky: #89dceb;
  --ctp-sapphire: #74c7ec;
  --ctp-blue: #89b4fa;
  --ctp-lavender: #b4befe;

  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;

  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;

  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;

  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;
}

/* Page background + text */
html, body {
  background: var(--ctp-base);
  color: var(--ctp-text);
}

/* Links */
a, a:visited {
  color: var(--ctp-blue);
}

a:hover, a:focus {
  color: var(--ctp-sky);
  text-decoration-color: car(--ctp-sky);
}

/* Header - Footer */
.site-header, .site-footer {
  background: var(--ctp-mantle);
  border-color: var(--ctp-surface);
}

.site-title, site-title:visited {
  color: var(--ctp-lavender);
}

/* Main content */
.page-content {
  background: var(--ctp-base);
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  color: var(--ctp-rosewater);
}

/* Code blocks */
pre, code {
  background: var(--ctp-crust);
  color: var(--ctp-text);
  border-color: var(--cpt-surface);
}

pre {
  border: 1px solid var(--ctp-surface);
}

/* Inline code tweaks */
code {
  padding: 0.15em 0.35em;
  border-radius: 6px;
}

/* Tables */
table {
  border-color: var(--ctp-mantle);
}

th, td {
  border-color: var(--ctp-surface0);
}

/* Blockquotes */
blockquote {
  color: var(--ctp-subtext1);
  border-left-color: var(--ctp-mauve);
}

/* make minima's subtl separators less bright */
hr {
  border-color: var(--ctp-surface0);
}
